html, body, {
  background-image: url("background-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

  h1{
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 100;
    color: black;
  }
